table{
    min-width: 80%;
    margin:auto;
    text-align: center;
}
.container{
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

::ng-deep.mat-paginator{
    width: 80%;
    margin:auto;
}

.mat-header-cell{
    color: black;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

.mat-row:hover{
    cursor: pointer;
    box-shadow: inset 0 0 0 5px rgb(228, 228, 26);
}
